* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
    background-color:#66cdaa;
    background-image: url("world.png");
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
}
.cards {
  color: white;
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.card-container {
  perspective: 1000px;
}
.card {
  transition: all 1s linear;
  transform-style: preserve-3d;
}

.card {
  border: 0 solid rgb(123, 205, 102);
  border-radius: 10px;
  background-color: cadetblue;
  cursor: pointer;
  font-size: 0.9em;
  position: relative;
  text-align: center;
  width: 110px;
  height: 110px;
  word-break: break-word;
}

.front,
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.front {
  backface-visibility: hidden;
  border-top: 1px solid white;
  background-color: rgb(9, 110, 116);
  z-index: 2;
}

.back {
  background-color: rgb(75, 14, 218);
  z-index: 1;
  transform: rotateX(180deg);
}

.card-container:hover .card {
  transform: rotateX(180deg);
}